* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a {
    text-decoration: none;
}

#container {
    width: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 42px;
    display: flex;
    background-color: #191D24;
}
.top_nav {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.top_nav a{
    color: #AEAEB4;
}
.language_button  {
    background-color: #191D24;
    color: #AEAEB4;
    border: none;
}
